body {
  margin: 0;
  min-height: 100vh;
  min-height: calc(var(--vh, 1vh) * 100);
  background-color: #000;
  color: #fff;
  font-family: sans-serif;
}

#content {
  display: flex;
  align-items: center;
  justify-content: center;

  .text {
    max-width: 30em;
    padding-right: 3rem;
  }

  .dot-description {
    height: 0;
    overflow: hidden;
    transition: 0.3s;

    h3 {
      font-weight: 700;
      color: #e3e21f;
    }
  }

  #model-wrap {
    width: 60%;
    max-width: 60rem;
    flex-shrink: 0;

    #model {
      position: relative;

      canvas {
        width: 100%;
      }

      &.hovered {
        cursor: pointer;
      }
    }
  }

  #model-labels {
    margin-top: -7%;
    text-align: center;

    .arrow {
      display: inline-block;
      width: 0.6em;
      height: 0.6em;
      margin: 0 0.5em;

      path {
        stroke: none;
        fill: #fff;
      }
    }

    .labels {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-top: 0.5rem;

      #labels-info {
        display: none;
        color: #e3e21f;
        padding: 0 0.5em 0 0;

        &.visible {
          display: block;
        }
      }

      .labels-dot {
        display: inline-block;
        width: 0.6em;
        height: 0.6em;
        margin: 0 0.5em;
        background-color: #e3e21f;
        border-radius: 50%;
      }
    }
  }

  @media (max-width: 900px) {
    flex-direction: column;
    gap: 2rem;

    #model {
      width: 100%;
    }

    .text {
      padding: 0 2rem;
    }
  }
}
